Sixeyed.OptimisticLockingSample/Source/Sixeyed.OptimisticLockingSample.Client/Service References/CustomerService/CustomerService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://Sixeyed.OptimisticLockingSample/2009" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="CustomerService" targetNamespace="http://Sixeyed.OptimisticLockingSample/2009" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Sixeyed.OptimisticLockingSample/2009/Imports">
      <xsd:import schemaLocation="http://win-jmwgpj7lql5/Sixeyed.OptimisticLockingSample.Services/CustomerService.svc?xsd=xsd0" namespace="http://Sixeyed.OptimisticLockingSample/2009" />
      <xsd:import schemaLocation="http://win-jmwgpj7lql5/Sixeyed.OptimisticLockingSample.Services/CustomerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICustomerService_GetCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomer" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_UpdateCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomer" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_UpdateCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_UpdateCustomer_ConcurrencyViolationFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ConcurrencyViolation" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_UpdateCustomer_NoDataSignatureFault_FaultMessage">
    <wsdl:part name="detail" element="tns:NoDataSignature" />
  </wsdl:message>
  <wsdl:portType name="ICustomerService">
    <wsdl:operation name="GetCustomer">
      <wsdl:input wsaw:Action="http://Sixeyed.OptimisticLockingSample/2009/ICustomerService/GetCustomer" message="tns:ICustomerService_GetCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://Sixeyed.OptimisticLockingSample/2009/ICustomerService/GetCustomerResponse" message="tns:ICustomerService_GetCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <wsdl:input wsaw:Action="http://Sixeyed.OptimisticLockingSample/2009/ICustomerService/UpdateCustomer" message="tns:ICustomerService_UpdateCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://Sixeyed.OptimisticLockingSample/2009/ICustomerService/UpdateCustomerResponse" message="tns:ICustomerService_UpdateCustomer_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Sixeyed.OptimisticLockingSample/2009/ICustomerService/UpdateCustomerConcurrencyViolationFault" name="ConcurrencyViolationFault" message="tns:ICustomerService_UpdateCustomer_ConcurrencyViolationFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://Sixeyed.OptimisticLockingSample/2009/ICustomerService/UpdateCustomerNoDataSignatureFault" name="NoDataSignatureFault" message="tns:ICustomerService_UpdateCustomer_NoDataSignatureFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICustomerService" type="tns:ICustomerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCustomer">
      <soap:operation soapAction="http://Sixeyed.OptimisticLockingSample/2009/ICustomerService/GetCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <soap:operation soapAction="http://Sixeyed.OptimisticLockingSample/2009/ICustomerService/UpdateCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConcurrencyViolationFault">
        <soap:fault use="literal" name="ConcurrencyViolationFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="NoDataSignatureFault">
        <soap:fault use="literal" name="NoDataSignatureFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerService">
    <wsdl:port name="BasicHttpBinding_ICustomerService" binding="tns:BasicHttpBinding_ICustomerService">
      <soap:address location="http://win-jmwgpj7lql5/Sixeyed.OptimisticLockingSample.Services/CustomerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>