WcfPersonalizationProvider/Source/WcfPersonalizationSample.ServiceClient/Service References/PersonalizationService/PersonalizationService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1321/PersonalizationService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/System.Web.UI.WebControls.WebParts" />
  <xs:import schemaLocation="http://localhost:1321/PersonalizationService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WcfPersonalizationProvider" />
  <xs:import schemaLocation="http://localhost:1321/PersonalizationService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="FindState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Web.UI.WebControls.WebParts" minOccurs="0" name="scope" type="q1:PersonalizationScope" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Web.UI.WebControls.WebParts" minOccurs="0" name="query" nillable="true" type="q2:PersonalizationStateQuery" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfPersonalizationProvider" minOccurs="0" name="FindStateResult" nillable="true" type="q3:FindStateResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountOfState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System.Web.UI.WebControls.WebParts" minOccurs="0" name="scope" type="q4:PersonalizationScope" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/System.Web.UI.WebControls.WebParts" minOccurs="0" name="query" nillable="true" type="q5:PersonalizationStateQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountOfStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCountOfStateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSharedPersonalizationBlob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSharedPersonalizationBlobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSharedPersonalizationBlobResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserPersonalizationBlob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserPersonalizationBlobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserPersonalizationBlobResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPersonalizationBlob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPersonalizationBlobResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/System.Web.UI.WebControls.WebParts" minOccurs="0" name="scope" type="q6:PersonalizationScope" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="paths" nillable="true" type="q7:ArrayOfstring" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="usernames" nillable="true" type="q8:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResetStateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetUserState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userInactiveSinceDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetUserStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResetUserStateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePersonalizationBlob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataBlob" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePersonalizationBlobResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>